/* nekoblog-overrides:css/default.css */
/* Revision HON20241221 */

:root {
    --var-global-header-height: 0rem;
    --var-global-max-content-width: 80rem;
}

/* global: header redesign */
body > header#header-menu {
    margin: auto;
    background: none;
    position: fixed;
    width: 100%;
    max-width: var(--var-global-max-content-width);
    left: 0;
    right: 0;
    margin-top: 1rem;
    border-radius: .7rem;
}

/* global: hero bg height */
body > section:first-of-type div.bg-cover {
    height: calc(100vh - var(--var-global-header-height));
}

/* index: hero bg shadow */
body > section:first-of-type div.bg-cover::before {
    content: var(--tw-content);
    background-color: #0006;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

/* index/archive: hero header text */
body > section:first-of-type div.bg-cover > div:first-of-type {
    left: 4rem;
    position: absolute;
    align-items: flex-start;
    bottom: 4rem;
    height: auto;
}
body > section:first-of-type header {
    align-items: flex-start;
    bottom: 4rem;
    height: auto;
    top: unset;
    padding: 1.5rem;
    padding-left: calc(1.5rem + 4rem);
}

/* archive: do not bring forward content */
body > section:nth-of-type(2).mt-6.\!-mt-20 {
    margin-top: 1.5rem !important;
}

/* index: archive list do not show content preview */
body > section:nth-of-type(2) div#post-list p {
    display: none;
}

/* index: archive list make cover image taller */
body > section:nth-of-type(2) div#post-list div.aspect-h-9.aspect-w-16 {
    min-height: 24rem;
}

/* index: archive list add shade to cover image */
body > section:nth-of-type(2) div#post-list div.aspect-h-9.aspect-w-16 > a > img {
    opacity: .7;
}

/* index: archive list do not show author */
/* body > section:nth-of-type(2) div#post-list a[href^="/authors/"][title] {
    display: none;
} */

/* index: archive list do not show author and date */
body > section:nth-of-type(2) div#post-list > div.group > div:nth-of-type(2) > div:nth-of-type(2) {
    display: none;
}

/* index: archive list redesign */
body > section:nth-of-type(2) div#post-list > div.group > div:nth-of-type(2) {
    position: absolute;
    height: auto;
    pointer-events: none;
}
