/* nekoblog-overrides:css/default.css */
/* Revision HON20241221 */

:root {
    --var-global-header-height: 0rem;
    --var-global-max-content-width: 80rem;
}

/* global: re-color */
.dark\:divide-slate-600:is(.dark *)>:not([hidden])~:not([hidden]) {
    border-color:rgb(71 71 71 / var(--tw-divide-opacity))
}
.dark\:divide-slate-700:is(.dark *)>:not([hidden])~:not([hidden]) {
    border-color:rgb(51 51 51 / var(--tw-divide-opacity))
}
.dark\:divide-slate-800:is(.dark *)>:not([hidden])~:not([hidden]) {
    border-color:rgb(30 30 30 / var(--tw-divide-opacity))
}
.dark\:border-slate-500:is(.dark *) {
    border-color:rgb(100 100 100 / var(--tw-border-opacity))
}
.dark\:border-slate-600:is(.dark *) {
    border-color:rgb(71 71 71 / var(--tw-border-opacity))
}
.dark\:border-slate-700:is(.dark *) {
    border-color:rgb(51 51 51 / var(--tw-border-opacity))
}
.dark\:border-slate-800:is(.dark *) {
    border-color:rgb(30 30 30 / var(--tw-border-opacity))
}
.dark\:\!bg-slate-700:is(.dark *) {
    background-color:rgb(51 51 51 / var(--tw-bg-opacity))!important
}
.dark\:bg-slate-600:is(.dark *) {
    background-color:rgb(71 71 71 / var(--tw-bg-opacity))
}
.dark\:bg-slate-700:is(.dark *) {
    background-color:rgb(51 51 51 / var(--tw-bg-opacity))
}
.dark\:bg-slate-800:is(.dark *) {
    background-color:rgb(30 30 30 / var(--tw-bg-opacity))
}
.dark\:bg-slate-900:is(.dark *) {
    background-color:rgb(15 15 15 / var(--tw-bg-opacity))
}
.dark\:\!text-slate-100:is(.dark *) {
    color:rgb(241 241 241 / var(--tw-text-opacity))!important
}
.dark\:\!text-slate-300:is(.dark *) {
    color:rgb(203 203 203 / var(--tw-text-opacity))!important
}
.dark\:\!text-slate-50:is(.dark *) {
    color:rgb(248 248 248 / var(--tw-text-opacity))!important
}
.dark\:text-slate-100:is(.dark *) {
    color:rgb(241 241 241 / var(--tw-text-opacity))
}
.dark\:text-slate-200:is(.dark *) {
    color:rgb(226 226 226 / var(--tw-text-opacity))
}
.dark\:text-slate-300:is(.dark *) {
    color:rgb(203 203 203 / var(--tw-text-opacity))
}
.dark\:text-slate-400:is(.dark *) {
    color:rgb(148 148 148 / var(--tw-text-opacity))
}
.dark\:text-slate-50:is(.dark *) {
    color:rgb(248 248 248 / var(--tw-text-opacity))
}
.dark\:text-slate-500:is(.dark *) {
    color:rgb(100 100 100 / var(--tw-text-opacity))
}
.dark\:ring-slate-600:is(.dark *) {
    --tw-ring-color: rgb(71 71 71 / var(--tw-ring-opacity))
}
.dark\:ring-slate-700:is(.dark *) {
    --tw-ring-color: rgb(51 51 51 / var(--tw-ring-opacity))
}
.dark\:hover\:border-slate-700:hover:is(.dark *) {
    border-color:rgb(51 51 51 / var(--tw-border-opacity))
}
.dark\:hover\:bg-slate-600:hover:is(.dark *) {
    background-color:rgb(71 71 71 / var(--tw-bg-opacity))
}
.dark\:hover\:bg-slate-700:hover:is(.dark *) {
    background-color:rgb(51 51 51 / var(--tw-bg-opacity))
}
.dark\:hover\:text-slate-100:hover:is(.dark *) {
    color:rgb(241 241 241 / var(--tw-text-opacity))
}
.dark\:hover\:text-slate-200:hover:is(.dark *) {
    color:rgb(226 226 226 / var(--tw-text-opacity))
}
.dark\:hover\:text-slate-300:hover:is(.dark *) {
    color:rgb(203 203 203 / var(--tw-text-opacity))
}
.dark\:hover\:text-slate-50:hover:is(.dark *) {
    color:rgb(248 248 248 / var(--tw-text-opacity))
}
.dark\:hover\:text-slate-500:hover:is(.dark *) {
    color:rgb(100 100 100 / var(--tw-text-opacity))
}
.dark\:hover\:text-slate-600:hover:is(.dark *) {
    color:rgb(71 71 71 / var(--tw-text-opacity))
}
.group:hover .dark\:group-hover\:bg-slate-500:is(.dark *) {
    background-color:rgb(100 100 100 / var(--tw-bg-opacity))
}
.group:hover .dark\:group-hover\:bg-slate-700:is(.dark *) {
    background-color:rgb(51 51 51 / var(--tw-bg-opacity))
}

/* global: re-color PluginCommentWidget */
@media (prefers-color-scheme: dark){
    .color-scheme-auto,[data-color-scheme=auto] comment-widget{
        color-scheme:dark;
        --halo-comment-widget-base-info-color: #646464;
        --halo-comment-widget-component-form-input-bg-color: #474747;
        --halo-comment-widget-component-form-input-color: #ffffff;
        --halo-comment-widget-component-form-input-border-color: #494949;
        --halo-comment-widget-component-form-input-border-color-focus: #656565;
        --halo-comment-widget-component-form-input-box-shadow-focus: 0 0 0 .15em #1c1c1c;
        --halo-comment-widget-component-form-button-login-bg-color: #333333;
        --halo-comment-widget-component-form-button-login-bg-color-hover: #474747;
        --halo-comment-widget-component-form-button-login-border-color: #474747;
        --halo-comment-widget-component-form-button-submit-bg-color: #0d0d0d;
        --halo-comment-widget-component-form-button-submit-border-color: #474747;
        --halo-comment-widget-component-form-button-submit-border-color-hover: #646464;
        --halo-comment-widget-component-form-button-emoji-color: #cbcbcb;
        --halo-comment-widget-component-comment-item-action-bg-color-hover: #474747;
        --halo-comment-widget-component-comment-item-action-color-hover: #949494;
        --halo-comment-widget-component-pagination-button-bg-color-hover: #474747;
        --halo-comment-widget-component-pagination-button-bg-color-active: #474747;
        --halo-comment-widget-component-pagination-button-border-color-active: #474747;
        --halo-comment-widget-component-emoji-picker-rgb-color: 222, 222, 222;
        --halo-comment-widget-component-emoji-picker-rgb-accent: 58, 58, 58;
        --halo-comment-widget-component-emoji-picker-rgb-background: 21, 21, 21;
        --halo-comment-widget-component-emoji-picker-rgb-input: 0, 0, 0;
        --halo-comment-widget-component-emoji-picker-color-border: rgba(255, 255, 255, .1);
        --halo-comment-widget-component-emoji-picker-color-border-over: rgba(255, 255, 255, .2);
    }
}
.color-scheme-dark,.dark,[data-color-scheme=dark] comment-widget{
    color-scheme:dark;
    --halo-comment-widget-base-color: #ffffff;
    --halo-comment-widget-base-info-color: #646464;
    --halo-comment-widget-component-form-input-bg-color: #474747;
    --halo-comment-widget-component-form-input-color: #ffffff;
    --halo-comment-widget-component-form-input-border-color: #494949;
    --halo-comment-widget-component-form-input-border-color-focus: #656565;
    --halo-comment-widget-component-form-input-box-shadow-focus: 0 0 0 .15em #1c1c1c;
    --halo-comment-widget-component-form-button-login-bg-color: #333333;
    --halo-comment-widget-component-form-button-login-bg-color-hover: #474747;
    --halo-comment-widget-component-form-button-login-border-color: #474747;
    --halo-comment-widget-component-form-button-submit-bg-color: #0d0d0d;
    --halo-comment-widget-component-form-button-submit-border-color: #474747;
    --halo-comment-widget-component-form-button-submit-border-color-hover: #646464;
    --halo-comment-widget-component-form-button-emoji-color: #cbcbcb;
    --halo-comment-widget-component-comment-item-action-bg-color-hover: #474747;
    --halo-comment-widget-component-comment-item-action-color-hover: #949494;
    --halo-comment-widget-component-pagination-button-bg-color-hover: #474747;
    --halo-comment-widget-component-pagination-button-bg-color-active: #474747;
    --halo-comment-widget-component-pagination-button-border-color-active: #474747;
    --halo-comment-widget-component-emoji-picker-rgb-color: 222, 222, 222;
    --halo-comment-widget-component-emoji-picker-rgb-accent: 58, 58, 58;
    --halo-comment-widget-component-emoji-picker-rgb-background: 21, 21, 21;
    --halo-comment-widget-component-emoji-picker-rgb-input: 0, 0, 0;
    --halo-comment-widget-component-emoji-picker-color-border: rgba(255, 255, 255, .1);
    --halo-comment-widget-component-emoji-picker-color-border-over: rgba(255, 255, 255, .2);
}

/* global: re-color tailwindcss typography */
.tailwind-typography {
    --tw-prose-body: #373737;
    --tw-prose-headings: #111111;
    --tw-prose-lead: #4b4b4b;
    --tw-prose-links: #111111;
    --tw-prose-bold: #111111;
    --tw-prose-counters: #6b6b6b;
    --tw-prose-bullets: #d1d1d1;
    --tw-prose-hr: #e5e5e5;
    --tw-prose-quotes: #111111;
    --tw-prose-quote-borders: #e5e5e5;
    --tw-prose-captions: #6b6b6b;
    --tw-prose-kbd: #111111;
    --tw-prose-kbd-shadows: 17 17 17;
    --tw-prose-code: #111111;
    --tw-prose-pre-code: #e5e5e5;
    --tw-prose-pre-bg: #1f1f1f;
    --tw-prose-th-borders: #d1d1d1;
    --tw-prose-td-borders: #e5e5e5;
    --tw-prose-invert-body: #d1d1d1;
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: #9c9c9c;
    --tw-prose-invert-links: #fff;
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: #9c9c9c;
    --tw-prose-invert-bullets: #4b4b4b;
    --tw-prose-invert-hr: #373737;
    --tw-prose-invert-quotes: #f3f3f3;
    --tw-prose-invert-quote-borders: #373737;
    --tw-prose-invert-captions: #9c9c9c;
    --tw-prose-invert-kbd: #fff;
    --tw-prose-invert-kbd-shadows: 255 255 255;
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: #d1d1d1;
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: #4b4b4b;
    --tw-prose-invert-td-borders: #373737;
}

/* global: header redesign */
body > header#header-menu {
    margin: auto;
    background: none;
    position: fixed;
    width: 100%;
    max-width: var(--var-global-max-content-width);
    left: 0;
    right: 0;
    margin-top: 1rem;
    border-radius: .7rem;
    opacity: .7;
    filter: blur(1px);
    -webkit-transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-ms-transition: 0.5s ease all;
	-o-transition: 0.5s ease all;
	transition: 0.5s ease all;
}
body > header#header-menu.menu-sticky {
    opacity: 1 !important;
    filter: none !important;
}
body > header#header-menu:focus-within,
body > header#header-menu:hover {
    filter: none !important;
    opacity: 1 !important;
}

/* global: hero bg height */
body > section:first-of-type div.bg-cover {
    height: calc(100vh - var(--var-global-header-height));
}
body > section:first-of-type {
    min-height: 5rem;
}

/* index: hero bg shadow */
body > section:first-of-type div.bg-cover::before {
    content: var(--tw-content);
    background-color: #0006;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

/* index/archive: hero header text */
body > section:first-of-type div.bg-cover > div:first-of-type {
    left: 4rem;
    position: absolute;
    align-items: flex-start;
    bottom: 4rem;
    height: auto;
}
body > section:first-of-type header {
    align-items: flex-start;
    bottom: 4rem;
    height: auto;
    top: unset;
    padding: 1.5rem;
    padding-left: calc(1.5rem + 4rem);
}

/* archive: do not bring forward content */
body > section:nth-of-type(2).mt-6.\!-mt-20 {
    margin-top: 1.5rem !important;
}

/* index: archive list do not show content preview */
body > section:nth-of-type(2) div#post-list p {
    display: none;
}

/* index: archive list make cover image taller */
body > section:nth-of-type(2) div#post-list div.aspect-h-9.aspect-w-16 {
    min-height: 24rem;
}

/* index: archive list add shade to cover image */
body > section:nth-of-type(2) div#post-list div.aspect-h-9.aspect-w-16 > a > img {
    opacity: .7;
}

/* index: archive list do not show author */
/* body > section:nth-of-type(2) div#post-list a[href^="/authors/"][title] {
    display: none;
} */

/* index: archive list do not show author and date */
body > section:nth-of-type(2) div#post-list > div.group > div:nth-of-type(2) > div:nth-of-type(2) {
    display: none;
}

/* index: archive list redesign */
body > section:nth-of-type(2) div#post-list > div.group > div:nth-of-type(2) {
    position: absolute;
    height: auto;
    pointer-events: none;
}
